@font-face { font-family: 'Montserrat'; src: url("../fonts/Montserrat-Regular.ttf"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Montserrat'; src: url("../fonts/Montserrat-Light.ttf"); font-weight: 100 ; font-style: normal; }
@font-face { font-family: 'Montserrat'; src: url("../fonts/Montserrat-Bold.ttf"); font-weight: 800 ; font-style: normal; }

body {
  font-family: "Montserrat";
  background-color: #242424;
  font-weight: 100;
}

/* Utilities */

.rj-demph {
  opacity: .5;
}

.rj-btn-primary, .rj-btn-primary:focus {
  background-color: #3073C1;
  color: #eaeaea;
  height: 62px;
  line-height: 62px;
  margin: 4px;
  -webkit-box-shadow: 0 6px 0 #004DA7;
  -moz-box-shadow: 0 6px 0 #004DA7;
  box-shadow: 0 6px 0 #004DA7;
  font-size: 20px;
  border-radius: 100px;
  font-weight: bold;
  padding: 0 40px;
}

.rj-btn-primary:hover {
  background-color: #3073C1;
  color: #eaeaea;
  margin-top: 0px;
  margin-bottom: 8px;
  -webkit-box-shadow: 0 10px 0 #004DA7;
  -moz-box-shadow: 0 10px 0 #004DA7;
  box-shadow: 0 10px 0 #004DA7;
}

.rj-btn-primary:active {
  background-color: #3073C1;
  margin-top: 10px;
  margin-bottom: -2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.rj-btn-primary:active, .rj-btn-primary:focus:active, .rj-btn-primary:focus {
  outline:0;
  border:0;
}

.rj-no-padding {
  padding: 0px !important;
}

/* Jumbotron */

.rj-jumbo-main {
  font-family: "Montserrat";
  background-image: linear-gradient(-142deg, #FFF300 0%, #FFCC00 100%);
  padding-bottom: 0px;
  padding-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}

.rj-jumbo-main h1 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 42px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  color: #1a1a1a;
}

.rj-jumbo-main p {
  font-family: "Montserrat";
  font-size: 20px;
  color: #3A3A3A;
  margin-bottom: 30px;
}

.rj-logo {
  text-align: center;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.rj-jumbo-tel {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 22px;
  line-height: 59px;
}

.rj-jumbo-contact-label {
  font-size: 14px;
  line-height: 59px;
  margin-right: 20px;
}

.rj-jumbo-phone {
  margin-top: 30px;
  float:right:
}

.rj-jumbo-text {
  margin: 80px auto 70px;
}

/* Testimonials */
.rj-testimonials {
  background-color: #1a1a1a;
  padding:30px;
  text-align: center;
  vertical-align: middle;
}

.rj-testimonials-avatar {
  border-radius: 50%;
  height: 56px;
  width: 56px;
  background-size: cover;
  display: inline-block;
}

.rj-testimonials-text {
  font-family: "Montserrat";
  font-weight: 100;
  display: inline-block;
}

.rj-testimonials-quote {
  font-size: 22px;
  color: #B3B3B3;
}

.rj-testimonials-author {
  font-size: 16px;
  color: #6a6a6a;
}

/* Slides */

.rj-slide {
  padding: 40px;
}

.rj-slide-odd {
  background-color: #2A2A2A;
}

.rj-slide-pair {
  background-color: #242424;
}

.rj-slide-block {
  height: 520px;
}

.rj-slide-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.rj-slide h1 {
  font-weight: 800;
  font-size: 42.24px;
  color: #eaeaea;
  text-shadow: 3px 3px 0px #161616;
  margin-bottom: 40px;
  text-align: center;
}

.rj-slide p{
  font-weight: 100;
  font-size: 20px;
  color: #D6D6D6;
  margin-bottom: 20px;
}

.rj-slide .rj-slide-subtext {
  font-size: 16px;
  color: #7a7a7a;
}

#faq {
  padding: 50px;
}

#faq h1 {
  font-weight: normal;
  font-size: 32px;
  color: #eaeaea;
  text-shadow: 3px 3px 0px #161616;
}

#faq p {
  font-size: 20px;
  color: #afafaf;
  font-weight: 100;
  margin-bottom: 70px;
}
/* Call to Action */

#rj-cta {
  background-image: linear-gradient(-142deg, #FFF300 0%, #FFCC00 100%);
  text-align: center;
  padding:30px;
}

#rj-cta h1 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 22px;
}

#rj-cta p {
  font-size: 20px;
}

/* Footer */

footer ul {
  padding: 0px;
}

footer li {
  color:#4a4a4a;
  margin: 10px;
  line-height: 40px;
  text-align: center;
  list-style: none;
  display: block;
}

footer li a {
  color:#afafaf;
}

footer li a:hover, footer li a:focus, footer li a:active {
  color:white;
  text-decoration: none;
}

/* Modal */

.modal-content {
  background-color: #1a1a1a;
  color: #eaeaea
}

.modal-title {
  font-weight: 800;
  font-size: 24px;
  color: #EAEAEA;
}

.modal-header {
  background-color: #212121;
  color: #afafaf;
  font-size: 16px;
  padding:20px 16px 20px 36px;
  border-bottom: 1px solid #323232;
}

.modal-body {
  padding:30px 36px;
}

.modal-footer {
  text-align: center;
  border-top: none;
  margin-bottom: 20px;
  padding-top: 0px;
}

.close {
  color:white;
  font-size: 32px;
}

.form-group label {
  font-weight: normal;
  font-size: 18px;
  color: #eaeaea;
}

.form-group input {
  background-color: #eaeaea;
  border-radius: 10px;
  height: 54px;
}

@media (min-width:768px) {

  /* Jumbotron */

  .rj-jumbo-main {
    text-align: left;
  }

  .rj-jumbo-main p {
    font-size: 22px;
  }

  .rj-logo {
    text-align: left;
    float:left;
  }

  /* Slides */

  .rj-slide h1 {
    text-align: left;
  }

  /* Testimonials */

  .rj-testimonials-text {
    text-align: left;
    margin-left: 20px;
  }

  /* FAQ */

  #faq p {
    margin-bottom: 30px;
  }

  /* Footer */

  footer li {
    float: left;
    margin: 30px;
  }
  .mixpanel { float:right; }

  /* Modal */

  .modal-dialog {
    width: 380px;
  }
}
